<div class="container">
    <div class="jumbotron">
        <div class="row">
            <h1 class="col-md-12">Welcome!</h1>
        </div>
        <div class="row">
            <p class="col-md-12">
                Please sign-in with the botton below to continue!
            </p>
        </div>
        <div class="row">
            <div class="g-signin2" data-onsuccess="onSignIn"></div>
        </div>
    </div>
</div>