{{!-- Google Client ID --}}
<meta name="google-signin-client_id" content="455880042475-b3upltiq9g9lgqkbd6s8fk3e5hvrf0v1.apps.googleusercontent.com">
{{!-- Reset --}}
<link rel="stylesheet" href="/assets/styles/reset.css">
{{!-- Bootstrap --}}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
{{!-- Custom styling --}}
<link rel="stylesheet" href="/assets/styles/style.css">
{{!-- jQuery --}}
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
{{!-- Google OAuth Sign In --}}
<script src="https://apis.google.com/js/platform.js" async defer></script>
<div class="container">
    <div class="jumbotron">
        <div class="row">
            <h1 class="col-md-12">Welcome!</h1>
        </div>
        <div class="row">
            <p class="col-md-12">
                Please sign-in with the botton below to continue!
            </p>
        </div>
        <div class="row">
            <div class="g-signin2" data-onsuccess="onSignIn"></div>
        </div>
    </div>
</div>