{{!-- Reset
<link rel="stylesheet" href="/assets/styles/reset.css"> --}}
{{!-- jQuery --}}
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="/assets/styles/testBoard.css">

<div id="board-container">
    <div id="board-header">
        <h3>Test Game Board Rendering</h3>
    </div>
    <div id="board-body">
        <div id = "board-frame"></div>
    </div>
</div>

<script src="/assets/scripts/viewgame.js"></script>